<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>611706647370-bm2cml2rojbk2ek9gddg1bv7tsi4ok6n.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.611706647370-bm2cml2rojbk2ek9gddg1bv7tsi4ok6n</string>
	<key>API_KEY</key>
	<string>AIzaSyBCuw4IZB9o2LlXfi-aSErLZ8z9VTD66DY</string>
	<key>GCM_SENDER_ID</key>
	<string>611706647370</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.tsaV0</string>
	<key>PROJECT_ID</key>
	<string>tiet---super-app</string>
	<key>STORAGE_BUCKET</key>
	<string>tiet---super-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:611706647370:ios:cc20eb081876145ebd87b3</string>
</dict>
</plist>
